$color-primary: #01acbd;
$color-primary-dark: #415074;
$color-primary-light: #b7e4f9;

$color-secondary: #bbc95c;

$color-grey-light: #e1e5dd;
$color-grey: #48494894;
$color-grey-dark: #1e1e1e;
$color-white: #fff;
$color-black: #000;
